.auth-layout {
    border-radius: 10px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .4);
    padding: 20px;
    width: 500px;
}

.box-shadow {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.loader__box {
    align-items: center;
    background-color: rgb(255, 255, 255, 0.5);
    bottom: 0;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}

.loader {
    height: 80px;
    width: 80px;
    border-top: 4px solid #10d48e;
    border-right: 4px solid transparent;
    border-radius: 50%;
    animation: 1s spin linear infinite;
    position: relative;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}